AgenticKYC_Aishi workflow.json
{
  "name": "AgenticKYC_Aishi workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kyc-verification",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1184,
        560
      ],
      "id": "f7a11e02-556a-4296-9d30-748f572b65c3",
      "name": "Webhook",
      "webhookId": "1f573589-06b2-42a9-b80c-fa0996b4512f",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "content": "Webhook\n\nReceives incoming HTTP POST requests from external services or applications. This is the entry point for the workflow, listening at the endpoint path and triggering the workflow when data is received.",
        "height": 200,
        "width": 300,
        "color": 4
      },
      "id": "baccab70-22d7-4899-89e3-785edd70a8f4",
      "name": "Webhook Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1520,
        496
      ]
    },
    {
      "parameters": {
        "content": "Image Quality Validator Agent Tool -\ntool to evaluate the visual integrity of an identity document photo. It checks for motion blur, focus, lighting glare, and proper framing (ensuring all 4 corners are visible). It also detects if the image is a photo of a screen or a photocopy.",
        "height": 200,
        "width": 316,
        "color": 4
      },
      "id": "4610cdef-2b17-4696-a071-42afe63bf4e4",
      "name": "Market Research Agent Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1072,
        928
      ]
    },
    {
      "parameters": {
        "content": "Respond to Webhook\n\nSends the response back to the original webhook caller. Returns the first incoming item from whichever research agent completed the task, closing the request-response cycle.",
        "height": 200,
        "width": 300,
        "color": 4
      },
      "id": "9693f04e-6889-4be1-b713-5b158278c85c",
      "name": "Respond to Webhook Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        544
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -960,
        752
      ],
      "id": "6d6c15ac-6d0a-46a7-88b6-d3dd2952597a",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "wsrqGqUhRI674OIe",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to evaluate the visual integrity of an identity document photo. It checks for motion blur, focus, lighting glare, and proper framing (ensuring all 4 corners are visible). It also detects if the image is a photo of a screen or a photocopy. Use this only when you need to confirm if the document quality is high enough for legal banking standards.",
        "text": "Analyze the attached image quality for a KYC submission. \n\n1. EVALUATE: Is this image sufficient for legal document processing?\n2. FEEDBACK: If it fails, be specific and helpful in your recommendation.\n3. CONTEXT: This is a financial services application, so maintain high standards for honesty and clarity.\n\nRespond only with the required JSON object.",
        "options": {
          "systemMessage": "### ROLE\nYou are a highly precise Image Quality Inspection Agent. Your goal is to determine if an uploaded identity document is of sufficient quality for automated data extraction and legal verification.\n\n### EVALUATION CRITERIA (HHH COMPLIANT)\n1. READABILITY (Honesty): Is the text sharp? Identify motion blur or focus issues that prevent reading names or dates.\n2. LIGHTING & GLARE (Honesty): Check for \"hotspots.\" Is there glare covering critical info (Photo, Name, DOB, Expiry)? \n3. FRAMING (Helpfulness): Are all four corners of the physical document visible? Is the ID cut off?\n4. AUTHENTICITY (Harmlessness): Flag if the image appears to be a photo of a computer screen, a photocopy, or digitally manipulated.\n\n### DECISION LOGIC\n- PASS: The document is clear, fully visible, and well-lit.\n- FAIL: Critical data is unreadable, corners are cut off, or it is a photo of a screen.\n\n### OUTPUT FORMAT\nRespond ONLY with a valid JSON object:\n{\n  \"assessment\": \"PASS\" | \"FAIL\",\n  \"confidence_score\": 0.0-1.0,\n  \"issues\": [\"list of specific defects\"],\n  \"recommendation\": \"Helpful instruction for the user to fix the issue (e.g., 'Please move away from direct light to avoid glare and retry.')\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        -672,
        752
      ],
      "id": "417ac7a8-9a69-4591-b9e1-8f956d0a723d",
      "name": "Image Quality Validator Agent Tool"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -672,
        976
      ],
      "id": "df5d87db-9fb4-40f4-b07e-7590c42aff47",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "wsrqGqUhRI674OIe",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to extract all text-based identity information from an ID image. This tool performs OCR and logic-matching. It extracts the full name, ID number, and expiry date. Most importantly, it compares the 'user_provided_name' against the name found on the physical ID to determine if they match. Returns a JSON object with extracted fields and a 'name_match' boolean",
        "text": "=Process the attached image for document extraction. Treat names as a match if the First and Last names align, even if middle names or initials are present on the ID but missing from the user input.\n\nCONTEXT:\n- The user claims their name is: \"{{ $json.user_provided_name }}\"\n- Expected document type: \"{{ $json.expected_document_type }}\"\n\nTASK:\n1. Extract the text data.\n2. Perform the name match logic against the provided name.\n3. Return the results in the required JSON format. Maintain high standards for honesty; if a field is unreadable, return null for that field.",
        "options": {
          "systemMessage": "=You are a KYC Extraction Specialist. You will receive an array of 'extractedFields'.\n\nYOUR TASK:\n1. Iterate through the 'extractedFields' array.\n2. Find the object where the 'field' is \"Name\", \"Full Name\", or \"FN\". \n3. Extract the 'value' (e.g., \"JONES, THEODORE A\").\n4. Compare this value to the 'user_provided_name' parameter.\n\nFUZZY MATCHING RULES:\n- Normalize both strings to lowercase.\n- Accept \"JONES, THEODORE A\" as a match for \"Theodore Jones\". \n- Ignore commas and middle initials. If First and Last names match, set 'name_match' to true.\n\nOUTPUT:\nReturn ONLY a JSON object: { \"full_name\": \"string\", \"name_match\": true/false }"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        -224,
        752
      ],
      "id": "a82fd310-26ce-4303-8a67-64ee91f2e122",
      "name": "Document Extraction Agent Tool"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -224,
        976
      ],
      "id": "dbe5152b-d74d-4af8-82c5-934020d906e3",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "wsrqGqUhRI674OIe",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": " Document Extraction Agent  Tool -\ntool to extract all text-based identity information from an ID image. This tool performs OCR and logic-matching. It extracts the full name, ID number, and expiry date. Most importantly, it compares the 'user_provided_name' against the name found on the physical ID to determine if they match",
        "height": 200,
        "width": 316,
        "color": 4
      },
      "id": "0a685e60-eb77-46e7-8f4d-3316a719da7b",
      "name": "Market Research Agent Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        912
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Initiate KYC verification for: \"{{ $node[\"Webhook\"].json.body.name }}\"\n\nACTION:\n1. Call the 'Document_Extraction_Agent'. \n2. Pass the user's name \"{{ $node[\"Webhook\"].json.body.name }}\" into the 'user_provided_name' parameter.\n3. Pass the image data \"data:image/jpeg;base64,{{ $node[\"Webhook\"].binary.data.toBase64() }}\" into the 'image_data' parameter.\n4. The agent will analyze the 'extractedFields' array. If it returns 'name_match' as TRUE, proceed to the Image Quality check.\n5. If FALSE, return a REJECTED verdict.",
        "options": {
          "systemMessage": "### ROLE\nYou are the KYC Orchestrator. You are responsible for managing the identity verification process by coordinating specialized agents. Your goal is to provide a final, high-confidence verdict for the user.\n\n### YOUR SUB-AGENTS (TOOLS)\n1. Document_Extraction_Agent: Specialized in reading ID text and checking for name matches.\n2. Image_Quality_Agent: Specialized in checking for blur, glare, and physical document authenticity.\n\n### ORCHESTRATION PROTOCOL\n1. INITIALIZATION: Call the Document_Extraction_Agent first to determine if the ID belongs to the user profile provided.\n2. CONDITIONAL BRANCHING:\n   - If 'name_match' is FALSE: Stop immediately. Do not call the quality agent. Prepare a rejection summary.\n   - If 'name_match' is TRUE: Call the Image_Quality_Agent to ensure the document is clear and legally valid.\n3. EVALUATION (HHH): Review all results using the Helpful, Honest, Harmless framework.\n   - HONEST: Ensure the final verdict aligns with the sub-agent findings.\n   - HELPFUL: If failing, provide clear instructions for the user.\n   - HARMLESS: Ensure no PII is exposed unnecessarily.\n\n### OUTPUT FORMAT\nReturn ONLY a valid JSON object:\n{\n  \"final_verdict\": \"APPROVED\" | \"REJECTED\" | \"MANUAL_REVIEW\",\n  \"summary\": \"One-sentence user-facing message.\",\n  \"extracted_data\": { ... },\n  \"quality_report\": { ... },\n  \"reason_code\": \"string\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -816,
        544
      ],
      "id": "a1744f52-110a-471a-9bbe-7733a8abf79f",
      "name": "Orchestrator Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -96,
        544
      ],
      "id": "d3fa684a-d1ce-4fcc-a64c-7359562e73b7",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Image Quality Validator Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Image Quality Validator Agent Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Document Extraction Agent Tool": {
      "ai_tool": [
        [
          {
            "node": "Orchestrator Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Document Extraction Agent Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Orchestrator Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "43904e68-f455-403b-b079-3fff89247fd6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4f02bb2060662f103bf1221fa20bc643d32538272e9c727bf6df51357629cb1c"
  },
  "id": "6kYawaAkEJH4ZhzJ",
  "tags": []
}