workflows/AgenticKYC_workflow.json
{
  "name": "AgenticKYC_3.9.2026 workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "1f573589-06b2-42a9-b80c-fa0996b4512f",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -448,
        480
      ],
      "id": "f6112a7c-4b56-47e7-9b63-259f63604a46",
      "name": "Webhook",
      "webhookId": "1f573589-06b2-42a9-b80c-fa0996b4512f"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {
          "webSearch": {
            "searchContextSize": "medium"
          }
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        32,
        560
      ],
      "id": "171c4f9a-cc44-4767-987d-eb787def49cb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "wsrqGqUhRI674OIe",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        992,
        320
      ],
      "id": "0e8f1809-8672-465c-9450-e64bdc30ca5d",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "Webhook\n\nReceives incoming HTTP POST requests from external services or applications. This is the entry point for the workflow, listening at the endpoint path and triggering the workflow when data is received.",
        "height": 200,
        "width": 300,
        "color": 4
      },
      "id": "49d36c76-bdff-44a9-b680-0ee0ad79fb3f",
      "name": "Webhook Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -800,
        432
      ]
    },
    {
      "parameters": {
        "content": "OpenAI Chat Model\n\nProvides the GPT-4.1-mini language model with web search capabilities to both research agents. This is the AI brain that powers intelligent responses and research capabilities.",
        "height": 200,
        "width": 300,
        "color": 4
      },
      "id": "121a7096-967a-4bd6-be51-075667fdf56d",
      "name": "OpenAI Chat Model Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        704
      ]
    },
    {
      "parameters": {
        "content": "Image Quality Validator Agent\n\nAI agent specialized in conducting market research. Processes chat input to analyze markets, competitors, trends, and business opportunities using the connected OpenAI model.",
        "height": 200,
        "width": 316,
        "color": 4
      },
      "id": "fdc227a5-ab69-45df-a940-4b153048b0e5",
      "name": "Market Research Agent Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "content": "Respond to Webhook\n\nSends the response back to the original webhook caller. Returns the first incoming item from whichever research agent completed the task, closing the request-response cycle.",
        "height": 200,
        "width": 300,
        "color": 4
      },
      "id": "f83a0078-9dc0-4029-8bae-bcab3f25db38",
      "name": "Respond to Webhook Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1024,
        464
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the attached {{ $json.body.documentTypeLabel }} for {{ $json.body.name }}. \n\n1. EVALUATE: Check if the image quality is sufficient for KYC processing based on your system instructions.\n2. METADATA PASS-THROUGH: You MUST include the following fields in your JSON response so the next agent has context:\n   - \"user_name\": \"{{ $json.body.name }}\"\n   - \"document_type\": \"{{ $json.body.documentTypeLabel }}\"\n\n3. OUTPUT: Respond only with the required JSON object containing your assessment, these metadata fields, and the confidence score.Check if the image quality is sufficient for KYC processing based on the criteria in your system instructions. Respond only with the required JSON object.",
        "options": {
          "systemMessage": "### ROLE\nYou are a highly precise Image Quality Inspection Agent for a financial KYC (Know Your Customer) pipeline. Your goal is to determine if an uploaded identity document is of sufficient quality for automated data extraction and legal verification.\n\n### EVALUATION CRITERIA\nEvaluate the provided image based on the following four pillars:\n\n1. READABILITY: Is the text sharp and legible? Identify any motion blur or focus issues that would prevent an OCR engine from reading names, dates, or ID numbers.\n2. LIGHTING & GLARE: Check for \"hotspots\" or reflections. Is there glare covering critical information (Photo, Name, DOB, or Expiry Date)? Is the image too dark to see the security features?\n3. FRAMING & COMPLETENESS: Are all four corners of the physical document visible? Is any part of the ID cut off by the edge of the photo?\n4. AUTHENTICITY CLUES: Does this appear to be a photo of a physical document? Flag if it appears to be a photo of a computer screen, a photocopy, or a digitally manipulated image.\n\n### DECISION LOGIC\n- PASS: If the document is clear, fully visible, and well-lit.\n- FAIL: If any critical data is unreadable or if the document is incomplete.\n\n### OUTPUT FORMAT\nYou must respond ONLY in a valid JSON object so the n8n workflow can parse the result. Do not include conversational text.\n\n{\n  \"assessment\": \"PASS\" | \"FAIL\",\n  \"confidence_score\": 0.0-1.0,\n  \"detected_document_type\": \"string\",\n  \"issues\": [\"list\", \"of\", \"specific\", \"defects\"],\n  \"recommendation\": \"Short instruction for the user if it failed (e.g., 'Please remove your phone flash and retry')\"\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        32,
        224
      ],
      "id": "0484fd7e-3c72-4463-bfa2-b768d38a90ed",
      "name": "Image Quality Validator Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the attached {{ $json.body.name }} and verify that it matches with the name in the ID \n\nReturn the data strictly in the JSON format defined in your system instructions.",
        "options": {
          "systemMessage": "### ROLE\nYou are a highly accurate Document Parsing Agent specialized in Financial KYC. Your task is to extract specific identity information from an uploaded document image and return it in a structured format.\n\n### EXTRACTION RULES\n1. DATA INTEGRITY: Extract the text exactly as it appears. Do not \"fix\" spelling errors, but do normalize formats (e.g., Dates should be YYYY-MM-DD).\n2. NULL VALUES: If a field is missing or physically unreadable, return \"null\" for that specific field. Do not guess.\n3. LOGIC CHECK: Compare the \"Document Type\" requested by the user with the document provided. If they do not match, flag this in the 'validation_notes'. Also, if the Name the user provided doesnt match with the Name on the Drivier's License Image, flag this in the 'validation_notes'\n\n### TARGET FIELDS\n- full_name: The complete name as written.\n- date_of_birth: Normalized to ISO 8601 (YYYY-MM-DD).\n- document_id_number: The unique identifier (License #, Passport #).\n- expiry_date: Normalized to ISO 8601 (YYYY-MM-DD).\n- address: The full residential address if present.\n- issuing_authority: The state or country that issued the ID.\n\n### OUTPUT FORMAT\nReturn ONLY a valid JSON object. No preamble, no markdown code blocks unless requested, and no conversational filler.\n\n{\n  \"extracted_data\": {\n    \"full_name\": \"string\",\n    \"date_of_birth\": \"YYYY-MM-DD\",\n    \"document_id_number\": \"string\",\n    \"expiry_date\": \"YYYY-MM-DD\",\n    \"address\": \"string\",\n    \"issuing_authority\": \"string\"\n  },\n  \"metadata\": {\n    \"document_type_confirmed\": boolean,\n    \"extraction_confidence\": 0.0-1.0,\n    \"validation_notes\": \"string\"\n  }\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        576,
        112
      ],
      "id": "eb54e22d-7210-43a0-9844-4b97e865ba29",
      "name": "Document Field Extraction Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        576,
        -64
      ],
      "id": "d6de1ae7-fabe-40a9-b9db-6540e2283306",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "wsrqGqUhRI674OIe",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4bcec67e-b677-4460-91fc-043f7ae0ceca",
              "leftValue": "assessment",
              "rightValue": "PASS",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        384,
        224
      ],
      "id": "d249d96f-4458-469e-b9fd-47ef92a55b38",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "metric": "helpfulness",
        "options": {}
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        928,
        112
      ],
      "id": "19452bcd-09d8-44ce-9c19-0736f1cdd54b",
      "name": "Evaluation"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Image Quality Validator Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Image Quality Validator Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Image Quality Validator Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Document Field Extraction Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Document Field Extraction Agent": {
      "main": [
        [
          {
            "node": "Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Document Field Extraction Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c05dea81-8a61-4518-9259-91e35f5c9baa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4f02bb2060662f103bf1221fa20bc643d32538272e9c727bf6df51357629cb1c"
  },
  "id": "MXsUnzdydsspb3zY",
  "tags": []
}
